html, body {
  margin: 0 auto;
  font-family: sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: gray;
}

h1 {
  width: 300px;
  margin: 0 auto;
}

.main-board {
  width: 640px;
  height: 480px;
  margin: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;

  width: 200px;
  height: 100px;
  margin-top: -100px;
  margin-left: -100px;
  padding: 15px;
  background: white;
  border: 1px solid black;
}

.hidden {
  display: none;
}

.modal input, .modal button {
  display: block;
  margin-top: 10px;
}
